.products{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  font-family:'Courier New', Courier, monospace;
  font-weight:bold;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
}
