:root {
    --black: #000;
    --charcoal: #3E464B;
    --green: #24564A;
    --grey: #B4B8B9;
    --maroon: #5F3A42;
    --navy: #313F4F;
    --graphite: #69686D;
    --stone: #DBDCD7;
    --burgundy: #7F2430;
    --slate-blue: #595B76;
    --black-cardinal: #5C5A4D;
    --black-orange: #CA5927;
    --black-green: #43483B;
    --navy-gold: #F9BE14;
}